@page "/Employeers"
@inject HttpClient Http

<PageTitle>Employeers</PageTitle>

<h1>Employeers</h1>


@if (isAuthenticated)
{
    <div class="button-container">
        <button class="btn btn-primary">Importar</button>
        |
        <button class="btn btn-success">Exportar</button>
    </div>
    @if (EmployeeList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>RFC</th>
                        <th>Fecha Nacimiento</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in EmployeeList)
                    {
                        <tr>
                            <td>@item.IdEmpleado</td>
                            <td>@item.Nombre</td>
                            <td>@item.Rfc</td>
                            <td>@item.FechaNacimiento</td>
                            <td>
                                <div class="button-container">
                                    <button class="btn btn-primary" @onclick="async () => ShowDeleteConfirmation(item.IdEmpleado)">Eliminar</button>
                                     | 
                                    <button class="btn btn-success">Modificar</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        if (EmployeeList != null)
        {
            <div class="button-container">
                <button class="btn btn-primary" @onclick="OnButtonBeforeClickAsync">Atras</button>
                |
                <button class="btn btn-success" @onclick="OnButtonAfterClickAsync">Adelante</button>
            </div>

        }

    }

}
else
{
    <p>Por favor, inicia sesión para continuar.</p>
}

#<!-- #region Delete Section -->
@if (ShowConfirmDialog)
{
    <div class="modal-overlay">
        <div class="modal-content">
            <h3>Confirmación</h3>
            <p>¿Estás seguro de que deseas eliminar este empleado?</p>
            <button class="btn btn-danger" @onclick="ConfirmDeleteAsync">Eliminar</button>
            <button class="btn btn-secondary" @onclick="CloseConfirmDialog">Cancelar</button>
        </div>
    </div>
}

<!-- #endregion -->


